@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cooking Keto</h1>
    <p>There are many reason's a person will start cooking keto, from weight loss to health issues or maybe you just looking to live a heatheir life.
    But any one who has ever made this switch can tell you it sucks. Living in the mid west when you say "do you have a keto option?" the general public 
    looks at you like your hair is on fire. I created this website to share my struggles with cooking keto for my wifes health isses as well as share some
    great keto recipes I have found and tweaked into some of the best keto recipes out there so enjoy.  </p>
    <br></br>
    <h2>Thoughts on keto</h2>
    <p>blog section on keto </p>
</div>
